/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Circular";
    src: local("Circular"),
    url("./assets/fonts/CircularStd-Bold.woff2") format("woff2");
    font-weight: bold;
}

@font-face {
    font-family: "Circular";
    src: local("Circular"),
    url("./assets/fonts/CircularStd-Book.woff2") format("woff2");
    font-weight: normal;
}